.App {
  text-align:left;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-top: 5%;
  margin-bottom: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered-text {
  text-align: center;
}

.endpoint-table {
  margin-left: -19rem;
}

.home-content {
  text-align: center;
}

.img-anchor {
  display: inline-block;
}

.main-paper-content {
  margin-left: 2em;
  text-align: left;
}

.request-image {
  max-width: 50%;
}

.title {
  margin-bottom: 50%;
  text-align: center;
}

/* get rid of border bottom on buttons on home page and logo anchor, consider applying relevant classes */
a {
  border-bottom: 1px solid;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid;
}

code {
  text-align: left;
  display: inline-block;
  line-height: 1.3;
  padding: 0.15em;
  border-radius: 0.4rem;
  font-family: monospace;
  font-size: inherit;
  background: #ffeff0;
  word-wrap: break-word;
  box-decoration-break: clone;
}

nav a {
  text-decoration: none;
  border-bottom: 0px;
  color:black;
  padding: 0.5rem 0.1rem;
  margin: 0.5rem 0.9rem;
  float: center;
  text-align: center;
}

/* Get the bottom line to appear thicker below the hovered link */
nav a:hover {
  border-bottom: 0.3rem black solid;
  margin: 0.5rem 0.9rem;
}